@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
:root{
  --primary: #E63946;
  --secondary: #1E88E5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
